<div [ngClass]="todo?.completed ? 'completed':'not-completed'">
  <!-- <div *ngIf="editMode && todo">
    <input [(ngModel)]="todo.title">
    <input type="checkbox" [(ngModel)]="todo.completed"> İşlem Tamamlandı Mı ?
    <button (click)="Confirm()">Onay</button>
  </div>
  <div *ngIf="!editMode">
    {{todo?.title}}
    <span>{{todo?.completed ?
      'tamamlandı':'tamamlanmadı'}}</span>
    <button (click)="Edit()">Düzenle</button>
    <button (click)="Delete()">Sil</button>
  </div> -->

  <!-- 2.yöntem -->
  <div *ngIf="editMode then editModeTemplate else normalModeTemplate"></div>
</div>

<ng-template>
  Deneme Ng Template
</ng-template>

Mode {{editMode}}

<ng-template #editModeTemplate>
  <div *ngIf="editMode && todo">
    <input [(ngModel)]="todo.title">
    <!-- <input [value]="todo.title" (change)="onTitleChange($event)"> -->
    <input type="checkbox" [(ngModel)]="todo.completed"> İşlem Tamamlandı Mı ?
    <button (click)="Confirm()">Onay</button>
  </div>
</ng-template>

<ng-template #normalModeTemplate>
  {{todo?.title}}
  <span>{{todo?.completed ?
    'tamamlandı':'tamamlanmadı'}}</span>
  <button (click)="Edit()">Düzenle</button>
  <button (click)="Delete()">Sil</button>
</ng-template>