.completed {
  background-color: lightgreen;
  color: white;
  border: 1px solid gray;
  padding: 5px;
}

.not-completed {
  background-color: lightgray;
  color:black;
  border: 1px solid;
  padding: 5px;
}